.app{
    width: 800px;
}
.enrolForm {
    font-family:sans-serif;
    font-size: 26px;
    text-align: center;
    width: 100%;
}
.enrolForm input[type=text] {
    margin :20px;
    padding:20px;
    box-shadow:0 0 25px 4px rgba(0,0,0,0.06);
    border: 2px solid #eee;
    width: 250px;
    font-family: inherit;
    font-size: inherit;
}
.enrolForm input[type=submit], .enrolForm button[type=submit]
{
    background: #4691A4;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: white;
}

.message
{
    color:green;
    font-family: inherit;
    font-size: 30px;
    font-style: italic;
}

.programs{
    text-align: center;
}